<template>

  <div class="wrapper">
    <Navbar/>
    <EventForm/>
    <Footer/>
  </div>
  <RouterView/>

</template>
<script setup>
import Footer from "@/components/Footer.vue";
import Navbar from "@/components/Navbar.vue";
import EventForm from "@/components/EventForm.vue";
</script>

<style scoped>
.wrapper {
  background-color: #fff;
  max-width: 1440px;
  margin: auto;
}

img {
  width: 100%;
}
</style>