<template>
  <div class="page-wrapper">
    <div class="navbar-wrapper">
      <Navbar class="navbar"/>
    </div>
    <div class="gray-line"></div>

    <div class="section">
      <EventInfo/>
    </div>

    <div class="section">
      <div class="container">
        <TabsTop v-model:current-tab="currentTab" :tabs="tabs"/>
      </div>
    </div>

    <div class="section">
      <EventAbout/>
    </div>

    <div class="section">
      <EventProgram/>
    </div>

    <div class="section">
      <EventOrganizator/>
    </div>

    <div class="section">
      <Speakers/>
    </div>

    <div class="section">
      <EventReviews/>
    </div>

    <div class="section">
      <EventLocation/>
    </div>

    <div class="wrapper">
      <br><br>
      <Footer/>
    </div>
  </div>
</template>

<script setup>
import {ref} from "vue";
import Navbar from "@/components/Navbar.vue";
import Footer from "@/components/Footer.vue";
import Speakers from "@/components/Speakers.vue";
import TabsTop from "@/components/TabsTop.vue";
import EventAbout from "@/components/EventAbout.vue";
import EventInfo from "@/components/EventInfo.vue";
import EventProgram from "@/components/EventProgram.vue";
import EventOrganizator from "@/components/EventOrganizer.vue";
import EventReviews from "@/components/EventReviews.vue";
import EventLocation from "@/components/EventLocation.vue";

const tabs = [
  'О мероприятии',
  'Экспоненты',
  'Спикеры',
  'Маршрут',
  'Отзывы'
]

const currentTab = ref(tabs[0])
</script>

<style scoped>
.page-wrapper {
  background: #F0F2F5;
}

.navbar-wrapper {
  background-color: #fff;
}

.navbar {
  max-width: 1440px;
  margin: auto;
}

.gray-line {
  background: #6F7287;
  height: 55px;
}

.section + .section {
  margin-top: 20px;
}
</style>
