<template>
  <div class="password_reset_container">
    <form class="password_reset_form" @submit.prevent="resetPassword">
      <p class="title">Сброс пароля</p>

      <label for="email">Введите ваш email</label>
      <input v-model="email" type="email" id="email" name="email" required>

      <p v-if="emailNotFound" class="error_message">Пользователь с такой почтой не найден</p>
      <button type="submit">Сбросить пароль</button>
    </form>

  </div>
</template>

<script setup>
import instance from "../../axios.js";
import { ref } from "vue";
import { useRouter } from "vue-router";


const emailNotFound = ref(false);
const router = useRouter();
const email = ref('');

const resetPassword = async () => {
  try {
    const response = await instance.post('/users/password/reset', { email: email.value });
    await router.push({ name: 'ResetPass', params: { email: email.value } });
  } catch (error) {
    console.error('Ошибка при сбросе пароля', error);
    if (error.response.status === 404){
      emailNotFound.value = true;
    }
  }
};
</script>

<style scoped>
.password_reset_container {
  background-color: #E2E7FF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto, sans-serif;
  width: 100vw;
  height: 100vh;
}

.password_reset_form {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  color: #181818;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
}

.password_reset_form label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.password_reset_form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.password_reset_form input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  cursor: pointer;
  width: 100%;
}

.password_reset_form input[type="submit"]:hover {
  background-color: #0056b3;
}

.password_reset_form button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  cursor: pointer;
  width: 100%;
}

.error_message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

</style>

