<template>
    <div class="wrapper p-0">
        <Navbar/>
    </div>
    <CategoryButtonList/>
    <div class="main-content">
        <div class="search-panel">
            <SearchTable/>
        </div>

        <div class="event-list">
            <ListEventCard/>
        </div>

<!--        <div class="popular-events">-->
<!--            <PopularEvent/>-->
<!--        </div>-->
    </div>

    <div class="wrapper">
        <Footer/>
    </div>
    <RouterView/>

</template>

<script setup>
import CategoryButtonList from "@/components/CategoryButtonList.vue";
import Footer from "@/components/Footer.vue";
import SearchTable from "@/components/SearchTable.vue";
import PopularEvent from "@/components/PopularEvent.vue";
import ListEventCard from "@/components/ListEventCard.vue";
import Navbar from "@/components/Navbar.vue";
</script>

<style scoped>
.wrapper {
    background-color: #fff;
    max-width: 1440px;
    margin: auto;
    padding: 15px;
}

.main-content {
    background-color: #fff;
    max-width: 1440px;
    margin: auto;
    display: grid;
    grid-template-columns: 280px auto 300px;
    align-items: start;
}

.search-panel {
    margin-top: 16px;
}

.event-list {
    margin-left: 5px;
}

.popular-events {
}
</style>


