<template>
    <div class="wrapper">
        <Navbar/>
    </div>
    <div class="place-search">
        <PlaceSearch/>
    </div>
    <div class="main-content">
        <div class="place-list">
            <ListPlaceCard/>
        </div>

        <div class="select-city">
            <SelectCity/>
        </div>
    </div>
    <VideoPlayer/>

    <PlaceList id="places"/>

    <div class="wrapper">
        <Mailing/>
        <br><br>
        <Footer/>
    </div>
    <RouterView/>

</template>
<script setup>
import Footer from "@/components/Footer.vue";
import ListPlaceCard from "@/components/ListPlaceCard.vue";
import PlaceList from "@/components/PlaceList.vue";
import Navbar from "@/components/Navbar.vue";
import Mailing from "@/components/Mailing.vue";
import VideoPlayer from "@/components/VideoPlayer.vue";
import SelectCity from "@/components/SelectCity.vue";
import PlaceSearch from "@/components/PlaceSearch.vue";
</script>

<style scoped>
.wrapper {
    background-color: #fff;
    max-width: 1440px;
    margin: auto;
}

.main-content {
    background-color: #fff;
    max-width: 1440px;
    margin: auto;
    display: grid;
    grid-template-columns: auto 610px;
    align-items: start;
}

.place-list {
    margin-left: 5px;
}

.select-city {
    margin-top: 16px;
    margin-left: 150px;
}

img {
    width: 100%;
}
</style>