<template>
  <div class="login_form_container">
    <form class="login_form" @submit.prevent="login">
      <p class="title">Вход в личный кабинет</p>

      <label for="email">Email</label>
      <input v-model="userDTO.email" type="email" id="email" name="email" required>

      <label for="password">Пароль</label>
      <div class="password_input_container">
        <input v-model="userDTO.password" :type="showPassword ? 'text' : 'password'" id="password" name="password"
               required>
        <button @click="toggleShowPassword" class="toggle_password_button">
          <img :src="showPassword ? '/eye1.png' : '/eye.png'" alt="Toggle Password"/>
        </button>
        <a href="/users/password/reset" @click="forgotPassword" class="forgot_password_link text-decoration-none">Забыли
          пароль?</a>
        <br><a href="/users/registration" class="text-decoration-none">Регистрация</a>
      </div>

      <p v-if="$store.state.auth.incorrectPassword" class="error_message">Неверный email или пароль</p>

      <button type="submit">Войти</button>

    </form>
  </div>
</template>

<script>
import {useRouter} from "vue-router";
import {ref} from "vue";
import forgotPassword from "@/pages/ForgotPasswordForm.vue";
import {useStore} from "vuex";

export default {
  computed: {
    forgotPassword() {
      return forgotPassword
    }
  },

  setup() {
    const router = useRouter();
    const store = useStore();

    const showPassword = ref(false);

    const userDTO = {
      email: '',
      password: ''
    };

    const login = async () => {
      const success = await store.dispatch('auth/login', userDTO);
      if (success) {
        await store.dispatch('auth/startTokenExpirationTimer');
        await router.push('/');
      }
    };

    const toggleShowPassword = () => {
      showPassword.value = !showPassword.value;
    };

    return {userDTO, login, showPassword, toggleShowPassword,store};
  }
}
</script>

<style scoped>
.login_form_container {
  background-color: #E2E7FF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto, sans-serif;
  width: 100vw;
  height: 100vh;
}

.login_form {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  color: #181818;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
}

.login_form label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.login_form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login_form input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  cursor: pointer;
  width: 100%;
}

.login_form input[type="submit"]:hover {
  background-color: #0056b3;
}

.login_form button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  cursor: pointer;
  width: 100%;
  margin-top: 15px;
}

.password_input_container {
  position: relative;
}

.toggle_password_button {
  position: absolute;
  top: 18%;
  right: 3px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.toggle_password_button img {
  width: 16px;
}

.error_message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
</style>
