<template>

  <div class="wrapper">
    <Navbar/>
  </div>
  <img class="img" src="/img_1.png" alt="Img"/>
  <CategoryList/>
  <EventList/>
  <!--  <CityList/>-->
  <VideoPlayer/>
  <PlaceList id="places"/>

  <div class="wrapper">
    <Mailing/>
    <br><br>
    <Footer/>
  </div>
  <RouterView/>

</template>
<script setup>
import CategoryList from "@/components/CategoryList.vue";
import Footer from "@/components/Footer.vue";
import EventList from "@/components/EventList.vue";
import PlaceList from "@/components/PlaceList.vue";
import CityList from "@/components/CityList.vue";
import Navbar from "@/components/Navbar.vue";
import Mailing from "@/components/Mailing.vue";
import VideoPlayer from "@/components/VideoPlayer.vue";
</script>

<style scoped>
.wrapper {
  max-width: 1440px;
  margin: auto;
}

img {
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background: linear-gradient(to right, rgb(1, 1, 26) 0%, rgba(0, 0, 0, 0) 100%);
  pointer-events: none;
}

.img {
  width: 100%;
  height: 477px;
}

.search-container {
  position: relative;
}

.search-field {
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.main-content {
  background-color: #fff;
  max-width: 1440px;
  margin: auto;
  display: grid;
  grid-template-columns: auto 610px;
  align-items: start;
}

.place-list {
  margin-left: 5px;
}

.select-city {
  margin-top: 16px;
  margin-left: 150px;
}

img {
  width: 100%;
}
</style>