<template>
  <div class="message_container">
    <div class="message_block">
      <img src="/check.gif" alt="Confirmation GIF">
      Ваш пароль был успешно изменен!<br><br>
    </div>
  </div>
</template>

<script>
import { onMounted } from 'vue';
import router from "@/router/router.js";

export default {
  setup() {
    const approve = async () => {
      setTimeout(() => {
        router.push('/login');
      }, 1500);
    };

    onMounted(approve);

    return { approve };
  }
}
</script>

<style scoped>
.message_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.message_block {
  background-color: #f9f8f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 70px;
  color: #181818;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
  text-align: center;
}
img{
  width: 100px;
}
</style>
