<template>
    <div class="page-wrapper">
        <div class="navbar-wrapper">
            <Navbar class="navbar"/>
        </div>
        <div class="gray-line"></div>

        <div class="section">
            <PlaceInfo/>
        </div>

        <div class="section">
            <div class="container">
                <TabsTop v-model:current-tab="currentTab" :tabs="tabs"/>
            </div>
        </div>

        <div class="section">
            <PlaceAbout/>
        </div>

        <div class="section">
            <PlaceLocation/>
        </div>

        <div class="section">
            <PlaceProgram/>
        </div>

        <div class="section">
            <PlaceCharacteristic/>
        </div>

        <div class="section">
            <PlaceReviews/>
        </div>

        <div class="section">
            <PlaceSimilar/>
        </div>

        <div class="wrapper">
            <br><br>
            <Footer/>
        </div>
    </div>
</template>

<script setup>
import {ref} from "vue";
import Navbar from "@/components/Navbar.vue";
import Footer from "@/components/Footer.vue";
import TabsTop from "@/components/TabsTop.vue";
import PlaceAbout from "@/components/PlaceAbout.vue";
import PlaceInfo from "@/components/PlaceInfo.vue";
import PlaceProgram from "@/components/PlaceProgram.vue";
import PlaceReviews from "@/components/PlaceReviews.vue";
import PlaceLocation from "@/components/PlaceLocation.vue";
import PlaceSimilar from "@/components/PlaceSimilar.vue";
import PlaceCharacteristic from "@/components/PlaceCharacteristic.vue";

const tabs = [
    'Инфо',
    'Локация',
    'Календарь',
    'Места/Разделы',
    'Отзывы'
]

const currentTab = ref(tabs[0])
</script>

<style scoped>
.page-wrapper {
    background: #F0F2F5;
}

.navbar-wrapper {
    background-color: #fff;
}

.navbar {
    max-width: 1440px;
    margin: auto;
}

.gray-line {
    background: #6F7287;
    height: 55px;
}

.section + .section {
    margin-top: 20px;
}
</style>