<template>
  <div class="wrapper">
    <Navbar/>
    <div class="profile-page-content">
      <div class="profile-navbar">
        <button class="navbar-item" @click="selectedComponent = 'ProfileGeneral'">Профиль</button>
        <button class="navbar-item" @click="selectedComponent = 'ProfileDetails'">Личные данные</button>
        <button class="navbar-item" @click="logout">Выйти</button>
      </div>

      <div class="profile-content">
        <component :is="selectedComponent" v-if="selectedComponent"></component>
      </div>

    </div>
    <Footer/>
  </div>

</template>

<script>
import Navbar from "@/components/Navbar.vue";
import ProfileNavbar from "@/components/ProfileNavbar.vue";
import ProfileGeneral from "@/components/ProfileGeneral.vue";
import ProfileDetails from "@/components/ProfileDetails.vue";
import Footer from "@/components/Footer.vue";

export default {
  components: {Footer, ProfileNavbar, Navbar, ProfileDetails, ProfileGeneral},
  setup() {

    return {}
  },
  data() {
    return {
      selectedComponent: ProfileGeneral
    };
  },
  methods: {
    logout() {
      this.$store.commit('auth/clearToken');
      this.$router.push('/');
    },
  }

}
</script>

<style lang="scss" scoped>
.wrapper {
  max-width: 1440px;
  margin: auto;
}

.profile-page-content {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}

.profile-navbar {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 20px;
  margin-left: 15px;
  border-radius: 5px;
  height: 400px;
}

.navbar-item {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 10px;
}

.profile-content {
  width: 70%;
}

</style>