<template>
  <div class="registration_form_container">
    <form class="registration_form" @submit.prevent="create">
      <p class="title">Регистрация</p>
      <label for="firstName">Имя</label>
      <input v-model="userDTO.firstName" type="text" id="firstName" name="firstName" required>

      <label for="lastName">Фамилия</label>
      <input v-model="userDTO.lastName" type="text" id="lastName" name="lastName" required>

      <label for="email">Email</label>
      <input v-model="userDTO.email" type="email" id="email" name="email" required>

      <label for="password">Пароль</label>
      <input v-model="userDTO.password" type="password" id="password" name="password" required>

      <label for="confirmPassword">Подтверждение пароля</label>
      <input v-model="confirmPassword" type="password" id="confirmPassword" name="confirmPassword" required>

      <p v-if="userExistsError" class="error_message">Пользователь с такой почтой уже существует</p>

      <p v-if="errorMessages.length" class="error_message">
        {{ errorMessages.join() }}
      </p>

      <button type="submit">Зарегистрироваться</button>

      <p class="redirectToLogin">Уже есть аккаунт? Войдите <a href="/login">здесь</a></p>
    </form>
  </div>
</template>

<script>
import instance from "../../axios.js";
import { ref } from "vue";
import router from "@/router/router.js";

export default {
  setup() {
    const confirmPassword = ref('');
    const passwordsNotMatch = ref(false);
    const userExistsError = ref(false);
    const passwordValidation = ref(false);
    const errorMessages = ref([]);

    const userDTO = {
      firstName: '',
      lastName: '',
      email: '',
      password: ''
    };

    const create = async () => {
      try {
        passwordsNotMatch.value = false;
        passwordValidation.value = false;
        userExistsError.value = false;
        errorMessages.value = [];

        if (userDTO.password.length < 8) {
          passwordValidation.value = true;
          errorMessages.value.push('Пароль должен быть не менее 8 символов');
          return
        }

        if (userDTO.password !== confirmPassword.value) {
          passwordsNotMatch.value = true;
          errorMessages.value.push('Пароли не совпадают');
          return

        }

        if (!/\d/.test(userDTO.password)) {
          errorMessages.value.push('Пароль должен содержать хотя бы одну цифру');
          return
        }

        if (!/([A-ZА-ЯЁ])/u.test(userDTO.password)) {
          errorMessages.value.push('Пароль должен содержать хотя бы одну заглавную букву');
          return;
        }

        if (/([\s\S])\1{2,}/.test(userDTO.password)) {
          errorMessages.value.push('Пароль не должен содержать более 3 одинаковых символов подряд');
          return;
        }


        const response = await instance.post('/users/registration', userDTO);
        await router.push({ name: 'CheckYourEmail', params: { email: userDTO.email } });
      } catch (error) {
        if (error.response.status === 409) {
          userExistsError.value = true;
        } else if (error.response.status === 400) {
          console.log('Validation error');
        } else {
          console.error('Unexpected error', error);
        }
      }
    };

    return {
      userDTO,
      confirmPassword,
      passwordsNotMatch,
      create,
      passwordValidation,
      userExistsError,
      errorMessages
    };
  }
}
</script>

<style scoped>


.registration_form_container {
  background-color: #E2E7FF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto, sans-serif;
}

.registration_form {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  color: #181818;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
}

.registration_form label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.registration_form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.registration_form input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  cursor: pointer;
  width: 100%;
}

.registration_form input[type="submit"]:hover {
  background-color: #0056b3;
}

.registration_form button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  cursor: pointer;
  width: 100%;
}

.error_message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.redirectToLogin {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 20px;
  margin-bottom: 0;
}

</style>
