<template>
  <div class="password_reset_container">
    <form class="password_reset_form" @submit.prevent="resetPassword">
      <p class="title">Восстановление пароля</p>

      <label for="newPassword">Новый пароль</label>
      <input v-model="newPassword" type="password" id="newPassword" name="newPassword" required>

      <label for="confirmPassword">Подтверждение пароля</label>
      <input v-model="confirmPassword" type="password" id="confirmPassword" name="confirmPassword" required>

      <p v-if="errorMessages.length" class="error_message">
        {{ errorMessages.join() }}
      </p>

      <button type="submit">Сбросить пароль</button>
    </form>
  </div>
</template>

<script>
import instance from "../../axios.js";
import {ref} from "vue";
import router from "@/router/router.js";

export default {

  setup() {
    const confirmPassword = ref('');
    const passwordsNotMatch = ref(false);
    const userExistsError = ref(false);
    const passwordValidation = ref(false);
    const errorMessages = ref([]);
    const newPassword = ref('');


    const resetPassword = async () => {
      try {
        passwordsNotMatch.value = false;
        passwordValidation.value = false;
        userExistsError.value = false;
        errorMessages.value = [];

        if (newPassword.value.length < 8) {
          passwordValidation.value = true;
          errorMessages.value.push('Пароль должен быть не менее 8 символов');
          return
        }

        if (newPassword.value !== confirmPassword.value) {
          passwordsNotMatch.value = true;
          errorMessages.value.push('Пароли не совпадают');
          return

        }

        if (!/\d/.test(newPassword.value)) {
          errorMessages.value.push('Пароль должен содержать хотя бы одну цифру');
          return
        }

        if (!/([A-ZА-ЯЁ])/u.test(newPassword.value)) {
          errorMessages.value.push('Пароль должен содержать хотя бы одну заглавную букву');
          return;
        }

        if (/([\s\S])\1{2,}/.test(newPassword.value)) {
          errorMessages.value.push('Пароль не должен содержать более 3 одинаковых символов подряд');
          return;
        }

        const token = router.currentRoute.value.query.token;

        const response = await instance.post('/users/password/recovery', {
          newPassword: newPassword.value,
          token: token
        });

        await router.push({name: 'NewPasswordApprove'});

      } catch (error) {
        console.error('Ошибка сброса пароля', error);
      }
    }

    return {
      newPassword,
      confirmPassword,
      passwordValidation,
      userExistsError,
      passwordsNotMatch,
      errorMessages,
      resetPassword
    };
  }
}
</script>

<style scoped>

.password_reset_container {
  background-color: #E2E7FF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto, sans-serif;
  width: 100vw;
  height: 100vh;
}

.password_reset_form {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  color: #181818;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
}

.password_reset_form label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.password_reset_form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error_message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.password_reset_form button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  cursor: pointer;
  width: 100%;
}

</style>
