<template>
  <div class="avatar-group">
    <Avatar img-url="/event-1.png"/>
    <Avatar letter="K" background-color="#FF7A45"/>
    <Avatar background-color="#73D13D"/>
    <Avatar letter="U" background-color="#FF4D4F"/>
    <Avatar letter="C" background-color="#40A9FF"/>
    <div class="avatar-group-total-count">+90.6k</div>
  </div>
</template>

<script setup>
import Avatar from "@/components/Avatar.vue";
</script>

<style scoped>
.avatar-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-group-total-count {
  background-color: #FFD8BF;
  color: #FA541C;
  font-size: 10px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  overflow: hidden;
  border: 1px solid #ffffff;
}
</style>