<template>
  <div class="avatar" :style="{ backgroundColor: backgroundColor }">
    <img v-if="imgUrl" :src="imgUrl" class="avatar-img" alt="">
    <div v-else-if="letter" class="avatar-letter">{{ letter }}</div>
    <img v-else src="/user.svg" class="avatar-default" alt="">
  </div>
</template>

<script setup>
defineProps({
  imgUrl: String,
  letter: String,
  backgroundColor: String
})
</script>

<style scoped>
.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  overflow: hidden;
  border: 1px solid #ffffff;
}

.avatar:not(.avatar:first-of-type) {
  margin-left: -8px;
}

.avatar-img {
  width: 38px;
  height: 38px;
  object-fit: cover;
}

.avatar-letter {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.avatar-default {
  width: 20px;
  height: 20px;
}
</style>