<template>
  <button class="button-link">
    <img v-if="imgUrl" :src="imgUrl" alt="" class="button-link-img"/>
    <span class="button-link-text">
      <slot></slot>
    </span>
  </button>
</template>

<script setup>
defineProps({
  imgUrl: String
})
</script>

<style scoped>
.button-link {
  background: none;
  border: none;
  outline: none;
  font-size: 14px;
  line-height: 22px;
  color: #4D73C7;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 5px 16px;
}
</style>