<template>
    <div class="card">
        <div class="card-body">
            <p class="card-text">{{ formattedDate(event.startDate) }}</p>
            <p class="card-title">{{event.title}}</p>
            <p class="card-text mb-1">{{event.place.address}}</p>
            <router-link :to="`/events/${event.id}`" class="card-link text-decoration-none">Подробнее</router-link>
        </div>
      <div v-for="image in event.logo" :key="image">
        <img :src="`${imagesBaseUrl}/${image}`" :alt="image" class="place-image">
      </div>
    </div>
</template>

<script setup>
import { imagesBaseUrl } from '/config';
const props = defineProps(['event']);

const formattedDate = (dateString) => {
  const options = { day: 'numeric', month: 'long', hour: 'numeric', minute: 'numeric' };
  const date = new Date(dateString);
  const formatted = date.toLocaleDateString('ru-RU', options);
  return formatted.replace(' в', ',');
};
</script>

<style scoped>
.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.card-title {
    font-weight: 700;
}
</style>