<template>
    <div class="card mb-4"  style="width: 16rem;">
        <img :src="place.image" class="card-img-top" alt="Place">
        <div class="card-body">
            <h5 class="card-title">{{place.title}}</h5>
            <p class="card-text mb-1">{{place.location}}</p>
            <p class="card-text mb-1">{{place.site}}</p>
        </div>
        <div class="card-body pt-0">
            <router-link :to="`/places/${place.id}`" class="card-link text-decoration-none">Подробнее</router-link>
        </div>
    </div>
</template>

<script>
export default {
    props:{
        place: Object
    }
}
</script>

<style scoped>

</style>