<template>
  <div class="card card-category">
    <div class="card-body">
      <button class="btn btn-category" @click="handleClick">
        {{ category.title }}
      </button>
    </div>
  </div>
</template>

<script setup>
import { defineProps } from 'vue';
import { useRouter } from 'vue-router';

const props = defineProps(['category']);
const router = useRouter();

const handleClick = () => {
  router.push({ path: '/events', query: { category: props.category.id } });
};
</script>

<style scoped>
.card-category {
  width: 12rem;
  border-radius: 2px;
  border: 1px solid #eaeaea;
  margin: 5px;
}

.btn-category {
  margin: 0px 10px;
  font-weight: bold;
  font-size: medium;
  padding-bottom: 10px;
  height: 4rem;
  display: flex;
  align-items: center;
  width: 100%;
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
}

.card-body {
  padding: 1px;
}
</style>
