<template>
  <div class="wrapper mb-5">
    <div>
      <h4 class="mt-4 mb-4">Все события в Казахстане</h4>
      <div class="category-list">
        <button
            v-for="category in categories"
            :key="category.id"
            :class="{ 'btn btn-outline-primary mb-2': true, 'active': activeCategory === category.id }"
            @click="toggleCategory(category.id)"
        >
          {{ category.title }}
        </button>

      </div>
    </div>
  </div>
</template>

<script>
import CategoryCard from "@/components/CategoryCard.vue";

export default {
  components: {
    CategoryCard,
  },
  data() {
    return {
      categories: [],
      activeCategory: null,
    };
  },
  methods: {
    async toggleCategory(categoryId) {
      try {
        if (this.activeCategory === categoryId) {
          await this.$store.dispatch('event/getAllEvents');
          this.activeCategory = null;
        } else {
          await this.$store.dispatch('event/getEventsByCategory', categoryId);
          this.activeCategory = categoryId;
        }
      } catch (error) {
        console.error('Error fetching events by category:', error);
      }
    },
  },
  async mounted(){
    this.categories = await this.$store.dispatch('category/getCategoryList');
  }
};
</script>

<style scoped>
.category-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.active {
  background-color: #007bff;
  color: #fff;
}
</style>
