<template>
  <div class="wrapper mb-5">
    <div>
      <h4 class="mt-4 mb-4">Просмотр по категориям</h4>
      <div class="category-list">
        <CategoryCard v-for="(category, index) in visibleCategories" :key="category.id" :category="category"/>
        <div class="button" v-if="visibleCategories.length < categories.length">
          <button @click="loadMore" class="btn btn-primary">Смотреть все</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref, onMounted } from 'vue';
import { useStore } from 'vuex';
import CategoryCard from "@/components/CategoryCard.vue";

const store = useStore();

const categories = ref([]);
const visibleCategories = ref([]);

onMounted(async () => {
  try {
    await store.dispatch('category/getCategoryList');
    categories.value = store.state.category.categoryList;
    updateVisibleCategories();
  } catch (error) {
    console.error('Error fetching categories list:', error);
  }
});

const updateVisibleCategories = () => {
  visibleCategories.value = categories.value.slice(0, 6);
};

const loadMore = () => {
  visibleCategories.value = categories.value;
};

</script>

<style scoped>
.category-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: space-between;
}
h2 {
  color: #333;
}
.button{
  display: flex;
  align-items: center;
}

.wrapper {
  background-color: #fff;
  max-width: 1440px;
  margin: auto;
}
</style>
