<template>
  <div class="wrapper mb-5">
    <div>
      <h4 class="mt-4">Просмотр событий по городу</h4>
      <p>Выбирай популярные события в твоём городе</p>
      <div class="category-list">
        <CategoryCard
            v-for="category in categories"
            :key="category.id"
            :categoryName="category.name"
            :eventCount="category.eventCount"
        />
        <div class="button">
          <button @click="loadMore" class="btn btn-primary">Смотреть все</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CategoryCard from "@/components/CategoryCard.vue";

export default {
  components: {
    CategoryCard,
  },
  data() {
    return {
      categories: [
        {id: 1, name: "Астана", eventCount: 3049453},
        {id: 2, name: "Алматы", eventCount: 30093},
        {id: 3, name: "Шымкент", eventCount: 1239453},
        {id: 4, name: "Бостон", eventCount: 1453},
        {id: 5, name: "Лондон", eventCount: 1239453},
        {id: 6, name: "Шанхай", eventCount: 1453},
      ],
    };
  },
  methods: {
    loadMore() {

    },
  },
};
</script>

<style scoped>
.category-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: space-between;
}
h2 {
  color: #333;
}
.button{
display: flex;
  align-items: center;
}

.wrapper {
  background-color: #fff;
  max-width: 1440px;
  margin: auto;
}
</style>
