<template>
  <div class="container">
    <div class="event-program">
      <TabsTop v-model:current-tab="currentTab" :tabs="tabs"></TabsTop>

      <table class="event-program-table table">
        <tr>
          <td></td>
          <td>Главный зал</td>
          <td>Зал №2</td>
          <td>Зал №3</td>
        </tr>
        <tr>
          <td>10:00 - 12:30</td>
          <td colspan="3">
            <span class="event-program-label">Регистрация</span>
          </td>
        </tr>
        <tr>
          <td>12:30 - 14:00</td>
          <td>
            <div>
              <strong>Панельная сессия:</strong>
            </div>
            <div>
              <span>“Стартап нация”</span>
            </div>
          </td>
          <td>
            <div>
              <strong>Панельная сессия:</strong>
            </div>
            <div>
              <span>Woman in tech</span>
            </div>
          </td>
          <td>
            <div>
              <strong>Панельная сессия:</strong>
            </div>
            <div>
              <span>Робототехника</span>
            </div>
          </td>
        </tr>
        <tr>
          <td>14:00 - 15:30</td>
          <td>
            <div>
              <strong>Панельная сессия:</strong>
            </div>
            <div>
              <span>Digital finance: инфраструктура, регулирование и приоритеты (Нацбанк и АРРФР)</span>
            </div>
          </td>
          <td>
            <div>
              <strong>Панельная сессия:</strong>
            </div>
            <div>
              <span>Woman in tech</span>
            </div>
          </td>
          <td>
            <div>
              <strong>Панельная сессия:</strong>
            </div>
            <div>
              <span>Digital finance: инфраструктура, регулирование и приоритеты (Нацбанк и АРРФР)</span>
            </div>
          </td>
        </tr>
        <tr>
          <td>15:30 - 17:00</td>
          <td>
            <div>
              <strong>Панельная сессия:</strong>
            </div>
            <div>
              <span>Новые технологии в промышленной экологии</span>
            </div>
          </td>
          <td>
            <div>
              <strong>Панельная сессия:</strong>
            </div>
            <div>
              <span>Новые технологии в промышленной экологии</span>
            </div>
          </td>
          <td>
            <div>
              <strong>Панельная сессия:</strong>
            </div>
            <div>
              <span>Новые технологии в промышленной экологии</span>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script setup>
import TabsTop from "@/components/TabsTop.vue";
import {ref} from "vue";

const tabs = ['День 1', 'День 2', 'День 3']

const currentTab = ref(tabs[0])
</script>

<style scoped>
.event-program {
  background-color: #ffffff;
  padding: 16px;
}

.event-program-table {
  width: 100%;
}

td {
  padding: 17px 16px;
}

td:first-of-type {
  width: 250px;
}

.event-program-label {
  display: block;
  margin: 0 auto;
  border-radius: 16px;
  text-align: center;
  background-color: #4D73C7;
  color: #ffffff;
  font-size: 16px;
  line-height: 26px;
  max-width: 557px;
  width: 100%;
}
</style>
