<script setup>

import Tag from "@/components/Tag.vue";
import ButtonLink from "@/components/ButtonLink.vue";
</script>

<template>
  <div class="container">
    <div class="event-about">
      <div class="event-about-title">Digital Almaty</div>
      <div class="event-about-text">Международный цифровой форум Digital Almaty — это традиционная диалоговая площадка
        для обсуждения цифровой повестки, новых стратегий цифровой трансформации и трендов в сфере цифровых технологий.
      </div>
      <div class="event-about-tags">
        <Tag>Рестораны</Tag>
        <Tag>Еда</Tag>
        <Tag>Рестораны</Tag>
      </div>
      <ButtonLink img-url="/link.svg">Go to website</ButtonLink>
    </div>
  </div>
</template>

<style scoped>
.event-about {
  padding: 16px;
  background-color: #ffffff;
}

.event-about-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

.event-about-text {
  margin-top: 10px;
  font-size: 16px;
  line-height: 24px;
  color: #464646;
}

.event-about-tags {
  margin: 10px 0 150px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
</style>