<template>
  <div>
    <template v-if="currentStage === 1">
    <h2>Создание события - Шаг 1</h2>
    <form @submit.prevent="createEvent">
      <label for="title">Название:</label>
      <input v-model="eventData.title" type="text" id="title" required :maxlength="50"/>

      <label for="description">Описание:</label>
      <textarea v-model="eventData.description" id="description" :maxlength="250"></textarea>

      <label for="startDate">Дата начала:</label>
      <input v-model="eventData.startDate" type="datetime-local" id="startDate" required/>

      <label for="endDate">Дата окончания:</label>
      <input v-model="eventData.endDate" type="datetime-local" id="endDate"/>

      <label for="format">Формат:</label>
      <select v-model="eventData.format" id="format" required>
        <option value="online" selected>Онлайн</option>
        <option value="offline">Офлайн</option>
      </select>


      <label for="city">Город:</label>
      <select v-model="eventData.cityIds" id="city" required>
        <option v-for="city in cities" :key="city.id" :value="city.id">{{ city.title }}</option>
      </select>

      <label for="website">Веб-сайт:</label>
      <input v-model="eventData.websites" type="text" id="website" multiple/>

      <label for="eventCategoryId">Категория события:</label>
      <select v-model="eventData.categoryIds" id="eventCategoryId" required>
        <option v-for="category in categories" :key="category.id" :value="category.id">{{ category.title }}</option>
      </select>

      <label for="tagIds">Теги:</label>
      <select v-model="eventData.tagIds" id="tagIds" required multiple>
        <option v-for="tag in tags" :key="tag.id" :value="tag.id">{{ tag.title }}</option>
      </select>



      <label for="placeId">Место проведения:</label>
      <select v-model="eventData.placeId" id="placeId" required>
        <option v-for="place in places" :key="place.id" :value="place.id">{{ place.title }}</option>
      </select>

      <label for="comment">Комментарий:</label>
      <textarea v-model="eventData.comment" id="comment" :maxlength="250"></textarea>

      <button type="submit">Создать событие</button>
    </form>
    </template>
    <template v-else-if="currentStage === 2">
      <h2>Создание события - Шаг 2</h2>
      <form @submit.prevent="uploadImages">
        <label for="image">Изображение:</label>
        <input type="file" id="image" accept="image/*" @change="handleImageChange" multiple required >

        <button type="submit">Загрузить изображения</button>
      </form>
    </template>
  </div>
</template>

<script>
import {useStore} from 'vuex';
import {useRouter} from "vue-router";
import {computed, onMounted, ref} from "vue";
import {toast} from "vue3-toastify";


export default {
  setup() {
    const store = useStore();
    const router = useRouter();
    const currentStage = ref(1);

    const categories = computed(() => store.getters['category/categories']);
    const tags = computed(() => store.getters['tag/tags']);
    const places = computed(() => store.getters['place/places']);
    const cities = computed(() => store.getters['city/cities']);

    const eventData = {
      title: "",
      startDate: "",
      endDate: "",
      description: "",
      format: "",
      cityIds: "",
      websites: [],
      categoryIds: "",
      tagIds: [],
      placeId: null,
      comment: "",
    }
    const eventImage = {
      images: [],
    }

    const handleImageChange = (event) => {
      const files = event.target.files;
      for (let i = 0; i < files.length; i++) {
        eventImage.images.push(files[i]);
      }
    }

    onMounted(async () => {
      try {
        await store.dispatch('category/getCategoryList');
        console.log('Categories in component:', categories);
      } catch (error) {
        console.error("Error loading categories:", error);
      }
      try {
        await store.dispatch('tag/getList');
        console.log('Tags in component:', categories);
      } catch (error) {
        console.error("Error loading tags:", error);
      }
      try {
        await store.dispatch('place/getPlacesList');
        console.log('Place in component:', categories);
      } catch (error) {
        console.error("Error loading places:", error);
      }
      try {
        await store.dispatch('city/getList');
        console.log('City in component:', categories);
      } catch (error) {
        console.error("Error loading cities:", error);
      }
    });

    const createEvent = async () => {
      eventData.websites = eventData.websites.split(',').map(website => website.trim());
     try {
        await store.dispatch('event/create', eventData);
        toast.info('Добавьте изображение',{position:'bottom-right'})
        currentStage.value = 2;
      } catch (error) {
        toast.error('Ошибка при создании события:',{position:'bottom-right'} + error.message);
      }
    }
    const uploadImages = async () => {
      try {
        const eventId = store.getters['event/getCreatedEventId'];
        for (let i = 0; i < eventImage.images.length; i++) {
          const formData = new FormData();
          formData.append('file', eventImage.images[i]);

          await store.dispatch('event/addedImages', {id:eventId, event:formData});
        }

        toast.success('Событие успешно создано!', {
          position: 'bottom-right',
          duration: 2000,
          onClose: () => {
            router.push('/');
          }
        });
        } catch (error) {
        toast.error('Ошибка при загрузке изображений: ' + error.message);
      }
    };
    return {
      eventData,
      createEvent,
      categories,
      tags,
      places,
      cities,
      currentStage,
      handleImageChange,
      uploadImages,
    };
  },
};
</script>

<style scoped>
div {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
  text-align: center;
}

form {
  display: grid;
  gap: 15px;
}

label {
  font-weight: bold;
  font-size: 16px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}
</style>

