<template>
  <div class="container">
    <div class="event-info">
      <div class="event-info-details">
        <img src="/event-1.png" alt="" class="event-info-image"/>
        <div class="event-info-wrapper">
          <div class="event-info-dates">21-25 February, 2024</div>
          <div class="event-info-name">Digital Almaty</div>
          <div class="event-info-address">
            <img src="/geo.svg" alt="" class="event-info-address-icon"/>
            <div class="event-info-address-name">Rixos Hotel, Seiffulina 123, Almaty</div>
            <ButtonLink img-url="/rollback.svg">Маршрут</ButtonLink>
          </div>
          <div class="event-info-rating">
            <div class="event-info-rating-result">
              <img src="/rate-smile.svg" alt="" class="event-info-rating-icon-smile"/>
              <div class="event-info-rating-text">5.0(45 оценок)</div>
            </div>
            <ButtonLink img-url="/rate-star.svg">Оставить отзыв</ButtonLink>
          </div>
        </div>
      </div>
      <div class="event-info-participants">
        <div class="event-info-participants-controls">
          <ButtonLink img-url="/plus.svg">Сохранить</ButtonLink>
          <ButtonLink img-url="/share-alt.svg">Поделиться</ButtonLink>
        </div>
        <AvatarGroup/>
        <div class="event-info-participants-button">
          <button type="button" class="btn btn-primary">Участвовать</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import ButtonLink from "@/components/ButtonLink.vue";
import AvatarGroup from "@/components/AvatarGroup.vue";
</script>

<style>
.event-info {
  background: #ffffff;
  padding: 16px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
}

.event-info-details {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 28px;
}

.event-info-image {
  width: 104px;
  height: 70px
}

.event-info-dates {
  color: #FF6600;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

.event-info-name {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

.event-info-address {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  margin-bottom: 10px;
}

.event-info-address-name {
  color: #A2A2A2;
  font-size: 14px;
  line-height: 24px;
}

.event-info-rating {
  display: flex;
  gap: 8px;
}

.event-info-rating-result {
  display: flex;
  gap: 8px;
  align-items: center;
}

.event-info-rating-text {
  color: #A2A2A2;
  font-size: 14px;
  line-height: 24px;
  padding-right: 10px;
}

.event-info-participants {

}

.event-info-participants-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.event-info-participants-button {
  text-align: center;
  margin-top: 24px;
}
</style>