<template>
  <div class="wrapper">
    <h4 class="mt-4 mb-2">Рекомендуемые события</h4>
    <p>Отобранные популярные события</p>
    <div class="event-card-list">
      <EventCard v-for="(event, index) in visibleEvents" :key="index" :event="event"/>
    </div>
    <div class="button" v-if="showMoreButton">
      <button @click="loadMore" class="btn btn-primary">Показать еще</button>
    </div>
  </div>
</template>


<script>
import EventCard from "@/components/EventCard.vue";

export default {
  components: {
    EventCard,
  },
  data() {
    return {
      events: [],
      cardsToShow: 5
    };
  },
  computed: {
    visibleEvents() {
      return this.events.slice(0, this.cardsToShow);
    },
    showMoreButton() {
      return this.visibleEvents.length < this.events.length;
    },
  },
  methods: {
    loadMore() {
      this.cardsToShow += 5
    },
  },
  async mounted() {
    this.events = await this.$store.dispatch('event/getAllEvents');
  }
};
</script>

<style scoped>
.event-card-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: space-between;
}

.button {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.wrapper {
  background-color: #fff;
  max-width: 1440px;
  margin: auto;
}
</style>


