<template>
  <div class="container">
    <div class="wrapper">
      <h4 class="title">Отзывы</h4>
      <h5 class="subtitle">Оценки пользователей</h5>
      <div class="rate-row">
        <Rate :stars="5"/>
        <span class="rate-value">5.0(45 оценок)</span>
      </div>

      <div>
        <EventReviewProfile />
        <EventReviewProfile />
      </div>

      <h5 class="leave-review-title">Ваш отзыв</h5>
      <div class="leave-review">
        <button class="btn btn-primary leave-review-button">Оставить отзыв</button>
      </div>
    </div>
  </div>
</template>

<script setup>
import Rate from "@/components/Rate.vue";
import EventReviewProfile from "@/components/EventReviewProfile.vue";
</script>

<style scoped>
.wrapper {
  background: #ffffff;
  padding: 16px;
}

.title {
  margin-bottom: 30px;
}

.subtitle {
  margin-bottom: 15px;
}

.rate-row {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.rate-value {
  color: #A2A2A2;
  font-size: 14px;
  line-height: 24px;
}

.leave-review-title {
  margin-top: 50px;
}

.leave-review {
  margin-top: 10px;
}

.leave-review-button {
  min-width: 210px;
}
</style>