<template>
  <div class="card mb-4"  style="width: 16rem;">
    <img :src="event.image" class="card-img-top" alt="Event">
    <div class="card-body">
      <h5 class="card-title">{{event.title}}</h5>
      <p class="card-text mb-2">{{event.description}}</p>
      <p class="card-text mb-1">{{event.location}}</p>
    </div>
    <div class="card-body pt-0">
      <router-link :to="`/events/${event.id}`" class="card-link text-decoration-none">Подробнее</router-link>
    </div>
  </div>
</template>

<script>
export default {
  props:{
    event: Object
  }
}
</script>

