<template>
  <div class="container">
    <div class="event-organizer">
      <h4 class="event-organizer-title">Организатор</h4>
      <div class="event-organizer-wrapper">
        <div class="event-organizer-details">
          <img src="/event-1.png" alt="" class="event-organizer-image"/>
          <div class="event-organizer-info">
            <div class="event-organizer-name">Digital Almaty</div>
            <div class="event-organizer-location">Kazakhstan</div>
            <div class="event-organizer-count">25 мероприятий</div>
          </div>
        </div>
        <div class="event-organizer-participant">
          <AvatarGroup/>
          <div class="event-organizer-participants-button">
            <ButtonLink img-url="/plus.svg">Подписаться</ButtonLink>
          </div>
        </div>
        <div class="event-organizer-controls">
          <ButtonLink img-url="/share-alt.svg">Поделиться</ButtonLink>
          <button type="button" class="btn btn-primary">Участвовать</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import ButtonLink from "@/components/ButtonLink.vue";
import AvatarGroup from "@/components/AvatarGroup.vue";
</script>

<style>
.event-organizer {
  background: #ffffff;
  padding: 16px;
}

.event-organizer-title {
  margin-bottom: 20px;
}

.event-organizer-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 28px;
}

.event-organizer-details {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
}

.event-organizer-image {
  width: 104px;
  height: 70px
}

.event-organizer-info {

}

.event-organizer-name {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

.event-organizer-location,
.event-organizer-count {
  font-size: 16px;
  line-height: 24px;
  color: #A2A2A2;
  margin-top: 10px;
}

.event-organizer-participant {}

.event-organizer-participants-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.event-organizer-controls {
  width: 210px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
</style>