<template>
  <div class="wrapper">
    <div class="event-card-list" v-if="displayedEvents.length > 0">
      <CardEvent v-for="event in displayedEvents" :key="event.id" :event="event"/>
    </div>
    <div v-else>
      <p>По выбранной категории нет событий.</p>
    </div>
  </div>
</template>

<script setup>
import CardEvent from "@/components/CardEvent.vue";
import { ref, computed, onMounted } from 'vue';
import { useStore } from 'vuex';

const store = useStore();

const events = ref([]);

const displayedEvents = computed(() => {
  return store.state.event.eventsList;
});

onMounted(async () => {
  try {
    await store.dispatch('event/getAllEvents');
  } catch (error) {
    console.error('Error fetching events list:', error);
  }
});

</script>

<style scoped>
.button {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}
.event-card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(770px, 1fr));
}
</style>
