<template>
    <div class="wrapper">
        <h5 class="mt-4 mb-2">Площадки</h5>
        <div class="place-card-list">
            <CardPlace v-for="(place, index) in places" :key="index" :place="place"/>
        </div>
        <div class="button" v-if="showMoreButton">
            <button @click="loadMore" class="btn btn-primary">Показать еще</button>
        </div>
    </div>
</template>

<script>
import {computed, ref} from 'vue';
import { useStore } from 'vuex';

import CardPlace from "@/components/CardPlace.vue";

export default {
    components: {
        CardPlace,
    },
    setup() {
        const store = useStore();

        const places = computed(() => store.state.place.placesList);

        const cardsToShow = ref(9);

        const visiblePlaces = computed(() => places.value.slice(0, cardsToShow.value));
        const showMoreButton = computed(() => visiblePlaces.value.length < places.value.length);

        const loadMore = () => {
            cardsToShow.value += 5;
        };

        return {
            places,
            visiblePlaces,
            showMoreButton,
            loadMore,
        };
    },
};
</script>

<style scoped>
.place-card-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-between;
}

.button {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.wrapper {
    background-color: #fff;
    max-width: 1440px;
    margin: auto;
}
</style>