<template>
  <div class="box">
    <div class="img">
      <img src="/email.png" alt="Email"/>
    </div>
    <div class="info">
      <h4>Никогда не пропускайте хорошие события!</h4>
      <p>Подписывайтесь на нашу рассылку и станьте частью команды</p>
      <br><br>
      <form action="">
        <input type="email" id="form5Example24" class="form-control" placeholder="Email"/>
        <label class="form-label" for="form5Example24"></label>

        <div class="d-grid gap-2">
          <button class="btn btn-primary" type="button">Подписаться</button>
        </div>
      </form>

      <br><span>или</span> <br><br>

      <div class="my-btn">
        <button type="button" class="btn btn-outline-primary">Продолжить с Google</button>
        <button type="button" class="btn btn-outline-primary">Продолжить с Linkedin</button>
      </div>
    </div>
  </div>
</template>

<style scoped>
.box {
  display: flex;
  height: 494px;
  width: 100%;
  background-color: #cce1fd;
  align-items: center;

}

.my-btn {
  display: flex;
  justify-content: space-around;
}

h4 {
  color: #e16426;
  margin-bottom: 15px;
}


.img {
  width: 50%;
  text-align: center;
}

img {

  width: 416px;
  height: 393px;
}

.info {
  text-align: center;
  width: 50%;
  padding: 100px;
}
</style>
<script setup>
</script>