<template>
  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <a class="navbar-brand logo" href="/">BizConnect</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <div class="container-search">
          <form class="d-flex input-group w-auto">
            <input
                type="search"
                class="form-control rounded"
                placeholder="Поиск..."
                aria-label="Search"
                aria-describedby="search-addon"
            />
            <span class="input-group-text border-0" id="search-addon">
                  <img src="/search.svg" alt="Search" class="fas fa-search" width="25" height="25">
          <i></i>
      </span>
          </form>
        </div>

        <ul class="navbar-nav my-custom-list  me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/events"> <span class="link">События</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/places"><span class="link">Площадки</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><span class="link">Организаторы</span></a>
          </li>



        </ul>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button"  @click="eventCreate" class="btn btn-outline-primary ">
            <img src="/plus.png" alt="Plus" height="20" class="mb-1"/>
            Событие
          </button>

          <button v-if="!isLoggedIn" @click="redirectToLogin" type="button" class="btn btn-primary">
             <img src="/login.png" alt="Login" height="20" class="mb-1"/>
              Вход
          </button>
          <button v-else @click="redirectToProfile" type="button" class="btn btn-primary">
              <img src="/user.svg" alt="Profile" height="20" class="mb-1"/>
              Профиль
          </button>
        </div>

      </div>
    </div>
  </nav>

</template>

<script setup>
import router from "@/router/router.js";
import {ref} from "vue";

const isLoggedIn = ref(false)

const redirectToLogin = () => {
    router.push('/login')
}
const eventCreate = () => {
  router.push('/event-create');
};
const redirectToProfile = () => {

    router.push('/profile')
}

const token = localStorage.getItem('accessToken')
if (token) {
    isLoggedIn.value = true
}

const scrollToSection = (sectionId) => {
  const section = document.getElementById(sectionId);
  if (section) {
    window.scrollTo({
      top: section.offsetTop,
      behavior: 'smooth',
    });
  }
};

const goToPlacesSection = () => {
  scrollToSection('places');
};
</script>

<style scoped>
.logo {
  color: #e57741;
  font-weight: bolder;
  margin-right: 50px;
}

.container-search {
  margin-right: 350px;
}


.navbar-nav li {
  margin-right: 40px;
}

.link {
  color: #e57741;
  font-weight: normal;
}
</style>