<template>
    <div class="container">
        <div class="place-info">
            <div class="place-info-details">
                <img src="/event-1.png" alt="" class="place-info-image"/>
                <div class="place-info-wrapper">
                    <div class="place-info-location">Места для выставки</div>
                    <div class="place-info-name">Digital Almaty</div>
                    <div class="place-info-address">
                        <img src="/geo.svg" alt="" class="place-info-address-icon"/>
                        <div class="place-info-address-name">Rixos Hotel, Seiffulina 123, Almaty</div>
                        <ButtonLink img-url="/rollback.svg">Маршрут</ButtonLink>
                    </div>
                    <div class="place-info-rating">
                        <div class="place-info-rating-result">
                            <img src="/rate-smile.svg" alt="" class="place-info-rating-icon-smile"/>
                            <div class="place-info-rating-text">5.0(45 оценок)</div>
                        </div>
                        <ButtonLink img-url="/rate-star.svg">Оставить отзыв</ButtonLink>
                    </div>
                </div>
            </div>
            <div class="place-info-participants">
                <div class="place-info-participants-controls">
                    <ButtonLink img-url="/plus.svg">Сохранить</ButtonLink>
                    <ButtonLink img-url="/share-alt.svg">Поделиться</ButtonLink>
                </div>
                <AvatarGroup/>
                <div class="place-info-participants-button">
                    <button type="button" class="btn btn-primary">Участвовать</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
import ButtonLink from "@/components/ButtonLink.vue";
import AvatarGroup from "@/components/AvatarGroup.vue";
</script>

<style>
.place-info {
    background: #ffffff;
    padding: 16px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
}

.place-info-details {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 28px;
}

.place-info-image {
    width: 104px;
    height: 70px
}

.place-info-location {
    color: #FF6600;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.place-info-name {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.place-info-address {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    margin-bottom: 10px;
}

.place-info-address-name {
    color: #A2A2A2;
    font-size: 14px;
    line-height: 24px;
}

.place-info-rating {
    display: flex;
    gap: 8px;
}

.place-info-rating-result {
    display: flex;
    gap: 8px;
    align-items: center;
}

.place-info-rating-text {
    color: #A2A2A2;
    font-size: 14px;
    line-height: 24px;
    padding-right: 10px;
}

.place-info-participants {

}

.place-info-participants-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.place-info-participants-button {
    text-align: center;
    margin-top: 24px;
}
</style>