<template>
    <div class="container">
        <div class="wrapper">
            <h4>Маршрут</h4>

            <img src="/map.png" alt="" class="map-image"/>

            <div class="text">Rixos Hotel</div>
            <div class="text">Seiffulina 123</div>
            <div class="text">Almaty, Kazakhstan</div>

            <div class="see-more">
                <button class="btn btn-primary see-more-button">Посмотреть на карте</button>
            </div>
        </div>
    </div>
</template>

<style scoped>
.wrapper {
    background: #ffffff;
    padding: 16px;
}

.map-image {
    display: block;
    width: 443px;
    height: 373px;
    margin: 10px 0;
}

.text {
    font-size: 14px;
    line-height: 24px;
    color: #A2A2A2;
}

.see-more {
    margin-top: 30px;
}

.see-more-button {
    width: 210px;
}
</style>
<script setup>
</script>