<template>
  <div class="wrapper mb-5">
    <div>
      <h4 class="mt-4">Исследуйте места</h4>
      <div class="category-list">
        <PlaceCard v-for="place in visiblePlaces" :key="place.id" :place="place"/>
        <div class="button" v-if="showMoreButton">
          <button @click="loadMore" class="btn btn-primary">Смотреть все</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import PlaceCard from "@/components/PlaceCard.vue";
import {ref, onMounted, computed} from 'vue';
import {useStore} from 'vuex';

const store = useStore();

const places = ref([]);
const cardsToShow = ref(4);

onMounted(async () => {
  try {
    await store.dispatch('place/getPlacesList');
    places.value = store.state.place.placesList;
  } catch (error) {
    console.error('Error fetching places list:', error);
  }
});
const visiblePlaces = computed(() => places.value.slice(0, cardsToShow.value));

const showMoreButton = computed(() => visiblePlaces.value.length < places.value.length);

const loadMore = () => {
  cardsToShow.value += 4;
};
</script>

<style scoped>
.category-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

h2 {
  color: #333;
}

.button {
  display: flex;
  align-items: center;
}

.wrapper {
  background-color: #fff;
  max-width: 1440px;
  margin: auto;
}
</style>
