<template>
    <div class="place-review-profile">
        <div class="profile-info">
            <img src="/zhidkovsky.jpeg" alt="" class="profile-image"/>
            <div class="profile-info-wrapper">
                <div class="profile-name-wrapper">
                    <span class="profile-name">Александр Жидковский</span>
                    <span class="profile-role">Посетитель</span>
                </div>
                <div class="profile-position">Sales manager, Philips</div>
                <div class="profile-location">Moscow, Russia</div>
            </div>
            <div class="review-date">3 Сентября 2023</div>
        </div>
        <div class="profile-rate">
            <div class="profile-rate-star">
                <div class="profile-rate-value">5</div>
                <img src="/rate-star-gold.svg" class="rate-star-image" alt=""/>
            </div>
            <div class="review-tags-success">
                <div v-for="i in 3" :key="i" class="review-tag-success">
                    <img src="/like.svg" class="review-tag-success-icon" alt=""/>
                    <span class="review-tag-success-text">Регистрация</span>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>
.place-review-profile {
    padding: 0 0 20px;
}

.profile-info {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
}

.profile-image {
    width: 78px;
    height: 78px;
    object-fit: cover;
}

.profile-name {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    padding-right: 30px;
}

.profile-info-wrapper {
    flex-grow: 1;
}

.profile-role {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #EF3976;
}

.profile-rate {
    margin-top: 10px;
    display: flex;
    gap: 50px;
}

.profile-rate-star {
    display: flex;
    align-items: center;
    gap: 4px;
}

.profile-rate-value {
    font-size: 16px;
    line-height: 24px;
    color: #a2a2a2;
}

.review-date {
    font-size: 14px;
    line-height: 24px;
    color: #A2A2A2;
}

.profile-position,
.profile-location {
    font-size: 14px;
    line-height: 24px;
    color: #838383
}

.review-tags-success {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.review-tag-success {
    background: #F6FFED;
    border-radius: 2px;
    padding: 1px 8px;
    color: #52C41A;
    border: 1px solid #B7EB8F;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    line-height: 20px;
}

.review-tag-success-icon {
    flex: 0 0;
}

.review-tag-success-text {
}
</style>
<script setup>
</script>