<template>
    <div class="container">
        <div class="wrapper">
            <h4 class="mt-4 mb-2">Похожие места</h4>
            <div class="place-card-list">
                <PlaceSimilarCard v-for="(place, idx) in visiblePlaces" :key="idx" :place="place"/>
            </div>
            <div class="button" v-if="showMoreButton">
                <button @click="loadMore" class="btn btn-primary">Смотреть все</button>
            </div>
        </div>
    </div>
</template>

<script>
import PlaceSimilarCard from "@/components/PlaceSimilarCard.vue";

export default {
    components: {
        PlaceSimilarCard,
    },
    data() {
        return {
            places: [
                {
                    id: 1,
                    title: "Attakent",
                    location: "Almaty, Kazakhstan",
                    site: "www.attakent.com",
                    image: "/event-1.png"
                },
                {
                    id: 2,
                    title: "Attakent",
                    location: "Almaty, Kazakhstan",
                    site: "www.attakent.com",
                    image: "/event-2.png"
                },
                {
                    id: 3,
                    title: "Attakent",
                    location: "Almaty, Kazakhstan",
                    site: "www.attakent.com",
                    image: "/event-3.png"
                },
                {
                    id: 4,
                    title: "Attakent",
                    location: "Almaty, Kazakhstan",
                    site: "www.attakent.com",
                    image: "/event-4.png"
                },
                {
                    id: 5,
                    title: "Арман Сулейменов",
                    location: "CEO Nfactorial school",
                    site: "www.instagram.com",
                    image: "/speaker.png"
                },
                {
                    id: 6,
                    title: "Арман Сулейменов",
                    location: "CEO Nfactorial school",
                    site: "www.instagram.com",
                    image: "/speaker.png"
                },
                {
                    id: 7,
                    title: "Арман Сулейменов",
                    location: "CEO Nfactorial school",
                    site: "www.instagram.com",
                    image: "/speaker.png"
                },
                {
                    id: 8,
                    title: "Арман Сулейменов",
                    location: "CEO Nfactorial school",
                    site: "www.instagram.com",
                    image: "/speaker.png"
                },
            ],
            cardsToShow: 4
        };
    },
    computed: {
        visiblePlaces() {
            return this.places.slice(0, this.cardsToShow);
        },
        showMoreButton() {
            return this.visiblePlaces.length < this.places.length;
        }
    },
    methods: {
        loadMore() {
            this.cardsToShow += 8
        },
    },
};
</script>

<style scoped>
.wrapper {
    background-color: #fff;
    padding: 16px;
}

.place-card-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-evenly;
    gap: 3px;
}

.button {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}
</style>