<template>
    <div class="container">
        <div class="wrapper">
            <div>
                <table>
                    <thead>
                    <tr>
                        <th class="place-th">Место</th>
                        <th>Размер помещения</th>
                        <th>Соотношение сторон</th>
                        <th>Вместимость</th>
                        <th>Подробнее</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="place in places" :key="place.id">
                        <td>{{ place.name }}</td>
                        <td class="cell-large">{{ place.roomSize }}</td>
                        <td class="cell-large">{{ place.aspectRatio }}</td>
                        <td class="cell-large">{{ place.capacity }}</td>
                        <td><button class="details-btn" @click="showDetails(place)">&#8594;</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script setup>
import { ref } from 'vue';

const places = ref([
    { id: 1, name: 'Место 1', roomSize: '50 кв.м', aspectRatio: '16:9', capacity: 100 },
    { id: 2, name: 'Место 2', roomSize: '100 кв.м', aspectRatio: '4:3', capacity: 200 },
    { id: 3, name: 'Место 3', roomSize: '75 кв.м', aspectRatio: '16:9', capacity: 150 },
    { id: 1, name: 'Место 1', roomSize: '50 кв.м', aspectRatio: '16:9', capacity: 100 },
    { id: 2, name: 'Место 2', roomSize: '100 кв.м', aspectRatio: '4:3', capacity: 200 },
    { id: 3, name: 'Место 3', roomSize: '75 кв.м', aspectRatio: '16:9', capacity: 150 },
    { id: 1, name: 'Место 1', roomSize: '50 кв.м', aspectRatio: '16:9', capacity: 100 },
    { id: 2, name: 'Место 2', roomSize: '100 кв.м', aspectRatio: '4:3', capacity: 200 },
    { id: 3, name: 'Место 3', roomSize: '75 кв.м', aspectRatio: '16:9', capacity: 150 },
]);

const showDetails = (place) => {
    console.log('Details for', place);
};
</script>

<style scoped>
.wrapper {
    background: #ffffff;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #efefef;
}

th, td {
    border: none;
    padding: 8px;
    text-align: center;
}

.th {
    padding-bottom: 20px;
}

.place-th {
    height: 60px;
}

.cell-large {
    height: 60px;
}

.details-btn {
    background-color: #fff;
    border: 1px solid #3498db;
    color: #3498db;
    cursor: pointer;
    font-size: 16px;
    padding: 6px 12px;
}

.details-btn:hover {
    background-color: #fff;
}
</style>
