<template>
  <div class="card" style="width: 18rem;" >
    <img class="card-img-top place-image" :src="getMinioImageUrl(place.images[0])" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title place-title">{{ place.title }}</h5>
      <p class="card-text place-address">{{ place.address }}</p>
    </div>
  </div>

</template>

<script setup>
import {useStore} from 'vuex';

const store = useStore();
const props = defineProps(['place']);

const getMinioImageUrl = (imageName) => {
  return `http://127.0.0.1:9000/images/${imageName}`;
};
</script>

<style scoped>
.place-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}
.card{
  margin: 20px;
}
</style>
