<template>
    <div class="container">
        <div class="place-program">
            <h4>Календарь мероприятий</h4>
            <TabsTop v-model:current-tab="currentTab" :tabs="tabs"></TabsTop>

            <table class="place-program-table table">
                <tr>
                    <td><h5 style="text-align: center;">13</h5><p style="text-align: center;">Май, 2024</p></td>
                    <td class="separator"></td>
                    <td>
                        <div>
                            <strong>Remote working Expo</strong>
                        </div>
                        <div>
                            <button type="button" class="btn">Торговая выставка</button>
                            <span>INSPIRED MOTIVE LTD</span>
                        </div>
                    </td>
                    <td>
                        <div class="place-organizer-participants-button">
                            <ButtonLink img-url="/plus.svg">Сохранить</ButtonLink>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><h5 style="text-align: center;">13</h5><p style="text-align: center;">Май, 2024</p></td>
                    <td class="separator"></td>
                    <td>
                        <div>
                            <strong>Remote working Expo</strong>
                        </div>
                        <div>
                            <button type="button" class="btn">Торговая выставка</button>
                            <span>INSPIRED MOTIVE LTD</span>
                        </div>
                    </td>
                    <td>
                        <div class="place-organizer-participants-button">
                            <ButtonLink img-url="/plus.svg">Сохранить</ButtonLink>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><h5 style="text-align: center;">13</h5><p style="text-align: center;">Май, 2024</p></td>
                    <td class="separator"></td>
                    <td>
                        <div>
                            <strong>Remote working Expo</strong>
                        </div>
                        <div>
                            <button type="button" class="btn">Торговая выставка</button>
                            <span>INSPIRED MOTIVE LTD</span>
                        </div>
                    </td>
                    <td>
                        <div class="place-organizer-participants-button">
                            <ButtonLink img-url="/plus.svg">Сохранить</ButtonLink>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><h5 style="text-align: center;">13</h5><p style="text-align: center;">май, 2024</p></td>
                    <td class="separator"></td>
                    <td>
                        <div>
                            <strong>Remote working Expo</strong>
                        </div>
                        <div>
                            <button type="button" class="btn">Торговая выставка</button>
                            <span>INSPIRED MOTIVE LTD</span>
                        </div>
                    </td>
                    <td>
                        <div class="place-organizer-participants-button">
                            <ButtonLink img-url="/plus.svg">Сохранить</ButtonLink>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="place-open-button">
                <button type="button" class="btn btn-primary">Смотреть все</button>
            </div>
        </div>
    </div>
</template>

<script setup>
import TabsTop from "@/components/TabsTop.vue";
import {ref} from "vue";
import ButtonLink from "@/components/ButtonLink.vue";

const tabs = ['Все', 'Предстоящие', 'Прошлые']
const currentTab = ref(tabs[0])
</script>

<style scoped>
.place-program {
    background-color: #ffffff;
    padding: 16px;
}

.place-program-table {
    width: 100%;
    margin-top: 25px;
}

td {
    padding-bottom: 40px;
}

td:first-of-type {
    width: 130px;
}

.place-organizer-participants-button {
    display: flex;
    justify-content: end;
    margin-top: 28px;
}

.place-program-table strong {
    color: #6c6cff;
}

.place-program-table .btn {
    background-color: #f3f3f3;
    color: black;
    margin-right: 25px;
    border: 1px solid #ccc;
    padding: 1px 8px;
}

.place-program-table .separator {
    position: relative;
    display: inline-block;
    width: 2px;
    background-color: black;
    height: 100%;
    margin-right: 10px;
    padding-bottom: 90px;
}

.place-open-button {
    text-align: center;
    margin-bottom: 35px;
}
</style>
