<template>
    <div class="card mb-4"  style="width: 18rem;">
        <img :src="place.image" class="card-img-top" alt="Place">
        <div class="card-body">
            <h5 class="card-title">{{place.title}}</h5>
            <p class="card-text mb-2">{{place.location}}</p>
            <p class="card-text mb-1">{{place.site}}</p>
        </div>
    </div>
</template>

<script>
export default {
    props:{
        place: Object
    }
}
</script>

<style scoped>
.card {

}
</style>