<template>
    <div class="container">
        <div class="place-about">
            <div class="place-about-title">Digital Almaty</div>
            <div class="images-container">
                <img v-for="(image, index) in images" :key="index" :src="image.url" :alt="'Image ' + (index + 1)" class="place-image">
            </div>
            <div class="info">
                <div class="item-info">
                    <div class="value-info">125</div>
                    <div class="label-info">Выставок</div>
                </div>
                <div class="item-info">
                    <div class="value-info">125000</div>
                    <div class="label-info">Гостей</div>
                </div>
                <div class="item-info">
                    <div class="value-info">220+</div>
                    <div class="label-info">Предстоящих мероприятий</div>
                </div>
                <div class="item-info">
                    <div class="value-info">1 e</div>
                    <div class="label-info">Среди мест</div>
                </div>
                <div class="item-info">
                    <div class="value-info">4.9</div>
                    <div class="label-info">Оценки</div>
                </div>
            </div>
            <div class="place-about-text">Международный цифровой форум Digital Almaty — это традиционная диалоговая площадка
                для обсуждения цифровой повестки, новых стратегий цифровой трансформации и трендов в сфере цифровых технологий.
                Международный цифровой форум Digital Almaty — это традиционная диалоговая площадка
                для обсуждения цифровой повестки, новых стратегий цифровой трансформации и трендов в сфере цифровых технологий.
            </div>
            <div class="additional-info">
                <div class="info-item">
                    <div class="info-label">Посетителей в месяц</div>
                    <div class="info-value">125тыс</div>
                </div>
                <div class="info-item">
                    <div class="info-label">Площадь</div>
                    <div class="info-value">40тыс.кв.м.</div>
                </div>
                <div class="info-item">
                    <div class="info-label">Выставка в год</div>
                    <div class="info-value">60</div>
                </div>
                <div class="info-item">
                    <div class="info-label">Постоен в</div>
                    <div class="info-value">2018</div>
                </div>
                <div class="info-item">
                    <div class="info-label">Доступных павильонов</div>
                    <div class="info-value">85</div>
                </div>
            </div>
            <div class="place-about-tags">
                <Tag>Рестораны</Tag>
                <Tag>Еда</Tag>
                <Tag>Рестораны</Tag>
            </div>
            <ButtonLink img-url="/link.svg">Go to website</ButtonLink>
        </div>
    </div>
</template>

<script setup>
import { ref } from 'vue';
import Tag from "@/components/Tag.vue";
import ButtonLink from "@/components/ButtonLink.vue";

const images = ref([
    { url: '/event-1.png' },
    { url: '/event-2.png' },
    { url: '/event-3.png' },
    { url: '/event-4.png' },
    { url: '/event-5.png' },

]);
</script>

<style scoped>
.place-about {
    padding: 16px;
    background-color: #ffffff;
}

.place-about-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
}

.place-about-text {
    margin-top: 10px;
    font-size: 16px;
    line-height: 24px;
    color: #464646;
}

.place-about-tags {
    margin: 10px 0 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.place-image {
    width: 238px;
    height: 160px;
    margin-bottom: 10px;
    margin-left: 7px;
    margin-right: 7px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-top: 20px;
    margin-bottom: 30px;
}

.item-info {
    text-align: center;
    margin-left: 8px;
    margin-right: 20px;
    margin-bottom: 25px;
    background: #F0F2F5;
    width: 200px;
    height: 140px;
}

.label-info {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 24px;
    color: #464646;
}

.value-info {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    color: #464646;
}

.additional-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-top: 30px;
    margin-bottom: 30px;
}

.info-item {
    text-align: center;
    margin-left: 50px;
    margin-right: 80px;
    margin-bottom: 25px;
}

.info-label {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 24px;
    color: #464646;
}

.info-value {
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    color: #464646;
}
</style>

