<template>
    <div class="search-container">
        <div class="overlay"></div>
        <img class="img" src="/img2.jpg" alt="Img"/>
        <div class="search-field">
            <h5 class="text-white text-center mb-3">Найдите место для вашего мероприятия</h5>
            <form class="d-flex input-group w-auto" @submit.prevent="submitSearch">
                <input
                    v-model="searchParams.query"
                    type="search"
                    class="form-control rounded"
                    placeholder="Название площадки"
                    aria-label="Search"
                    aria-describedby="search-addon"
                />
                <span class="input-group-text border-0" id="search-addon">
          <button type="submit" class="btn btn-primary">
            <img src="/search.svg" alt="Search" class="fas fa-search" width="25" height="25">
          </button>
        </span>
            </form>
        </div>
    </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
    computed: {
        ...mapGetters('place', ['places']),
    },
    methods: {
        ...mapActions('place', ['searchPlaces']),
        async submitSearch() {
            try {
                await this.searchPlaces(this.searchParams);
            } catch (error) {
                console.error('Ошибка при поиске мест:', error);
            }
        },
    },
    data() {
        return {
            searchParams: {
                query: '',
            },
        };
    },
};
</script>

<style scoped>
.img {
    width: 100%;
    height: 477px;
}

.search-container {
    position: relative;
}

.search-field {
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    background: linear-gradient(to right, rgb(1, 1, 26) 0%, rgba(0, 0, 0, 0) 100%);
    pointer-events: none;
}
</style>