<template>
    <div class="wrapper">
        <h5>Популярные события</h5>
        <div class="event-card-list">
            <div v-for="(event, index) in visibleEvents" :key="index" class="event-card">
                <EventCard :event="event"/>
            </div>
        </div>
    </div>
</template>

<script>
import EventCard from "@/components/PopularEventCard.vue";

export default {
    components: {
        EventCard,
    },
    data() {
        return {
            events: [
                {
                    id: 9,
                    title: "Название события",
                    date: "9 марта, 19:00",
                    location: "Алматы, Балуан Шолак",
                    image: "/event-4.png"
                },
                {
                    id: 10,
                    title: "Название события",
                    date: "9 марта, 19:00",
                    location: "Алматы, Балуан Шолак",
                    image: "/event-5.png"
                },
                {
                    id: 11,
                    title: "Название события",
                    date: "9 марта, 19:00",
                    location: "Алматы, Балуан Шолак",
                    image: "/event-5.png"
                }
            ]
        };
    },
    computed: {
        visibleEvents() {
            return this.events.slice(0, 3);
        },
    },
};
</script>

<style scoped>
.event-card {
    width: 100%;
    margin-bottom: 20px;
}
h5 {
    margin-bottom: 25px;
}
</style>