<template>
    <div class="card mb-4"  style="width: 16rem;">
        <div class="card-date">
            <p class="card-text">{{event.date}}</p>
        </div>
        <img :src="event.image" alt="Event">
        <div class="card-body">
            <p class="card-title">{{event.title}}</p>
            <p class="card-text mb-1">{{event.location}}</p>
        </div>
        <div class="card-body pt-0">
            <router-link :to="`/events/${event.id}`" class="card-link text-decoration-none">Подробнее</router-link>
        </div>
    </div>
</template>

<script>
export default {
    props:{
        event: Object
    }
}

</script>

<style scoped>
.card-date {
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: center;
    font-weight: bold;
}
.card-title {
    font-weight: bold;
}
</style>