<template>
      <div class="profile-section-wrap">
        <h2>Профиль</h2>
          <div class="form-group">
            <label for="name">Имя</label>
            <input type="text" id="name" name="name" v-model="userData.firstName">
          </div>
          <div class="form-group">
            <label for="surname">Фамилия</label>
            <input type="text" id="surname" name="surname" v-model="userData.lastName">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" v-model="userData.email" disabled>
          </div>
        <button @click="updateUser" class="btn btn-primary">Сохранить</button>
        <span v-if="updateSuccessMessage.value" style="color: green">{{ updateSuccessMessage.value }}</span>

      </div>
</template>

<script setup>
import {onMounted, ref } from "vue";
import router from "@/router/router.js";
import instance from "../../axios.js";
import { useStore } from "vuex";
import {toast} from "vue3-toastify";

const store = useStore();

const userData = ref({
  firstName: '',
  lastName: '',
  email: ''
});

const updateSuccessMessage = ref('');

const fetchCurrentUser = async () => {
  try {
    const token = localStorage.getItem('accessToken');

    if (token) {
      const response = await instance.get('users/profile', {
        headers: {
          Authorization: `Bearer ${token}`,
        },
      });
      userData.value = response.data;
      userData.value.email=store.getters['auth/getSub'];
    } else {
      console.warn('No token found in local storage. User data not fetched.');
    }
  } catch (error) {
    console.error('Error fetching user data:', error);
  }
};

onMounted(fetchCurrentUser);


const updateUser = async () => {
  try {
    const updateData = {
      firstName: userData.value.firstName,
      lastName: userData.value.lastName,
    };

    const response = await instance.post("users/profile", updateData, {
      headers: {
        Authorization: `Bearer ${localStorage.getItem("accessToken")}`,
      },

    });

    if (response.status === 200) {
      updateSuccessMessage.value = 'Данные успешно изменены!';
      toast.success('Данные успешно изменены!',{position:'bottom-right'})
      console.log("Update response:", response.data);
    } else {
      console.error("Error updating user data:", response.data);
    }
  } catch (error) {
    console.error("Error updating user data:", error);
  }
};


const goToProfileDetails = () => {
  router.push('/profile_details');
};

const goToProfile = () => {
  router.push('/profile');
};


</script>

<style>

h2 {
  margin-bottom: 40px;
  text-align: center;
}

.profile-section-wrap {
  padding-left: 50px;
}

.form-group {
  width: calc(33.33% - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
}

.form-group:last-child {
  margin-right: 0;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

</style>
