<template>
  <div class="profile-navbar-container">
    <div class="navbar-item">Профиль</div>
    <div class="navbar-item">Личные данные</div>
  </div>
</template>

<script>
export default {
  setup() {


    return {}
  }
}
</script>

<style lang="scss" scoped>


</style>