<template>
  <div class="page-wrapper">
    <div class="profile-section-wrap">
      <div class="profile_flex_container">
        <img :src="userImageSrc" alt="avatar.img" class="rounded-circle img-fluid with-border" style="max-width: 150px;">
      </div>
      <div class="profile_flex_container mt-2">
        <label for="fileInput" class="btn btn-primary">Изменить аватар</label>
        <input id="fileInput" type="file" ref="fileInput" style="display: none" @change="handleFileChange">
      </div>
    </div>
  </div>
</template>

<script setup>
import {onMounted, ref} from "vue";
import {useStore} from "vuex";
import {imagesBaseUrl} from "../../config.js";
import {toast} from "vue3-toastify";

const store = useStore();
const userImageSrc = ref('');
const fileInput = ref(null);

onMounted(async () => {
  await updateUserImage();
});

const openFileInput = () => {
  if (fileInput.value) {
    fileInput.value.click();
  }
};

const handleFileChange = async (event) => {
  const file = event.target.files[0];
  if (file) {
    try {
      await store.dispatch('user/updateUserProfileImage', file);
      await updateUserImage();
      toast.success('Аватар успешно изменен!',{position:'bottom-right'})
    }
    catch (error) {
      console.error("Error updating profile image:", error);
    }
  }
};

const updateUserImage = async () => {
  try {
    await store.dispatch('user/getUserProfileDetail');
    if (store.getters['user/userImage']) {
      userImageSrc.value = `${imagesBaseUrl}/${store.getters['user/userImage']}`;
    } else {
      userImageSrc.value ='/avatar.png'
    }
  } catch (error) {
    console.error("Error fetching user profile:", error);
  }
};
</script>

<style scoped>

.with-border {
  border: 2px solid #424242;
}
</style>
