<template>
  <div class="page-wrapper">
    <h2>Личные данные</h2>
    <div class="profile-section-wrap">
        <div class="profile-avatar">
          <ProfileAvatar />
        </div>
        <div class="profile-info">
        <div class="profile_flex_container">
          <div class="form-group">
            <label for="position">Должность</label>
            <input type="text" id="position" name="position" v-model="userData.position">
          </div>
          <div class="form-group">
            <label for="city">Город</label>
            <input type="text" id="city" name="city" v-model="userData.city">
          </div>
          <div class="form-group">
            <label for="age">Возраст</label>
            <input type="text" id="age" name="age" v-model="userData.age">
          </div>
          <div class="form-group">
            <label for="gender">Пол</label>
            <input type="text" id="gender" name="gender" v-model="userData.gender">
          </div>
          <div class="form-group">
            <label for="phone">Номер телефона</label>
            <input type="text" id="phone" name="phone" v-model="userData.phoneNumber">
          </div>
          <div class="form-group">
            <label for="company">Компания</label>
            <input type="text" id="company" name="company" v-model="userData.company">
          </div>
        </div>
        <button @click="updateUser" class="btn btn-primary">Сохранить</button>
        <span v-if="updateSuccessMessage.value" style="color: green">{{ updateSuccessMessage.value }}</span>
        </div>
      </div>
  </div>
</template>

<script setup>
import router from "@/router/router.js";
import {onMounted, ref} from "vue";
import instance from "../../axios.js";
import ProfileAvatar from "@/components/ProfileAvatar.vue";
import {toast} from "vue3-toastify";

const updateSuccessMessage = ref('');

const goToProfileDetails = () => {
  router.push('/profile_details');
};

const goToProfile = () => {
  router.push('/profile');
};

const userData = ref({
  avatar: '',
  position: '',
  country: '',
  age: '',
  gender: '',
  phoneNumber: '',
  company: ''

});

const fetchCurrentUser = async () => {
  try {
    const token = localStorage.getItem('accessToken');

    if (token) {
      const response = await instance.get('users/profile/detail', {
        headers: {
          Authorization: `Bearer ${token}`,
        },
      });
      userData.value = response.data;
    } else {
      console.warn('No token found in local storage. User data not fetched.');
    }
  } catch (error) {
    console.error('Error fetching user data:', error);
  }
};

onMounted(fetchCurrentUser);

const updateUser = async () => {
  try {
    const updateData = {
      avatar: userData.value.avatar,
      age: userData.value.age,
      gender: userData.value.gender,
      phoneNumber: userData.value.phoneNumber,
      position: userData.value.position,
      company: userData.value.company,
      companyConfirmation: null
    };

    const response = await instance.put("/users/profile/detail", updateData, {
      headers: {
        Authorization: `Bearer ${localStorage.getItem("accessToken")}`,
      },
    });

    if (response.status === 200) {
      toast.success('Данные успешно изменены!',{position:'bottom-right'})
      updateSuccessMessage.value = 'Данные успешно изменены!';
      console.log("Update response:", response.data);
    } else {
      console.error("Error updating user data:", response.data);
    }
  } catch (error) {
    console.error("Error updating user data:", error);
  }
};

</script>

<style scoped>

h2 {
  margin-bottom: 40px;
  text-align: center;
}

.profile-section-wrap {
  padding-left: 10px;
  display: flex;
}

.profile-avatar{
  margin-right: 40px;
}
.profile_flex_container {
  display: flex;
  flex-wrap: wrap;
}

.form-group {
  margin-right: 20px;
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.btn{
  margin-left: 250px;
}
</style>