<template>
  <div class="rate">
    <img v-for="star in stars" :key="star" src="/rate-star-gold.svg" class="rate-star" alt="" />
  </div>
</template>

<script setup>
defineProps({
  stars: Number
})
</script>

<style scoped>
.rate {
  display: flex;
  gap: 8px;
}

.rate-star {

}
</style>