<template>
    <div class="search-section">
        <div class="search-category" @click="toggle('calendar')">
            <h5>
                <img src="/calendar.png" alt="Calendar" class="icon"/>
                Календарь
                <span class="arrow" :class="{ 'is-open': visible.calendar }"></span>
            </h5>
            <ul v-show="visible.calendar">
                <li v-for="date in dates" :key="date.text">
                    <label>
                        <input type="checkbox" v-model="date.checked">
                        {{ date.text }}
                        <span class="counter">{{ date.count }}</span>
                    </label>
                </li>
            </ul>
        </div>

        <div class="search-category" @click="toggle('format')">
            <h5>
                <img src="/mail.png" alt="Mail" class="icon"/>
                Формат
                <span class="arrow" :class="{ 'is-open': visible.format }"></span>
            </h5>
            <ul v-show="visible.format">
                <li v-for="format in formats" :key="format.text">
                    <label>
                        <input type="checkbox" v-model="format.checked">
                        {{ format.text }}
                    </label>
                </li>
            </ul>
        </div>

        <div class="search-category" @click="toggle('location')">
            <h5>
                <img src="/mail.png" alt="Mail" class="icon"/>
                Расположение
                <span class="arrow" :class="{ 'is-open': visible.location }"></span>
            </h5>
            <ul v-show="visible.location">
                <li v-for="location in locations" :key="location.text">
                    <label>
                        <input type="checkbox" v-model="location.checked">
                        {{ location.text }}
                    </label>
                </li>
            </ul>
        </div>

        <div class="search-category" @click="toggle('topic')">
            <h5>
                <img src="/mail.png" alt="Mail" class="icon"/>
                Тема
                <span class="arrow" :class="{ 'is-open': visible.topic }"></span>
            </h5>
            <ul v-show="visible.topic">
                <li v-for="topic in topics" :key="topic.text">
                    <label>
                        <input type="checkbox" v-model="topic.checked">
                        {{ topic.text }}
                    </label>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            visible: {
                calendar: false,
                format: false,
                location: false,
            },
            dates: [
                { text: 'Сегодня', checked: false, count: 3 },
                { text: 'На этой неделе', checked: false, count: 5 },
            ],
            formats: [
                { text: 'Онлайн', checked: false },
                { text: 'Оффлайн', checked: false },
            ],
            locations: [
                { text: 'Астана', checked: false },
                { text: 'Алматы', checked: false },
            ],
            topics: [
                { text: 'Big data', checked: false },
                { text: 'Педагогика', checked: false },
            ],
        };
    },
    methods: {
        toggle(category) {
            this.visible[category] = !this.visible[category];
        },
    },
};
</script>

<style scoped>
.search-section {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-category h5 {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.icon {
    width: 16px;
    height: auto;
    margin-right: 5px;
}

.arrow {
    margin-left: auto;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
    border: solid black;
    border-width: 0 2px 2px 0;
    padding: 3px;
}

.arrow.is-open {
    transform: rotate(-135deg);
}

.search-category ul {
    list-style: none;
}

.search-category li {
    padding: 5px 15px;
}

.counter {
    margin-left: 10px;
}
</style>

