<template>
    <div class="wrapper">
        <h5 class="mt-4 mb-2">Находите места</h5>
        <div class="columns">
            <div class="column" v-for="(columnCities, index) in dividedCities" :key="index">
                <ul class="city-list">
                    <li v-for="(city, cityIndex) in columnCities" :key="cityIndex" @click="selectCity(city)">
                        {{ city }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            cities: ['Астана', 'Алматы', 'Шымкент', 'Караганда', 'Актобе', 'Тараз', 'Павлодар', 'Усть-Каменогорск',
                    'Семей', 'Туркестан', 'Атырау', 'Костанай', 'Петропавловск', 'Уральск' , 'Темиртау', 'Кызылорда'],
            selectedCity: ''
        };
    },
    computed: {
        dividedCities() {
            const chunkSize = 8;
            const divided = [];
            for (let i = 0; i < this.cities.length; i += chunkSize) {
                divided.push(this.cities.slice(i, i + chunkSize));
            }
            return divided;
        }
    },
    methods: {
        selectCity(city) {
            if (this.selectedCity === city) {
                this.selectedCity = '';
            } else {
                this.selectedCity = city;
            }

            const cityElements = document.querySelectorAll('.city-list li');
            cityElements.forEach(element => {
                if (element.textContent === city) {
                    element.style.color = this.selectedCity ? 'gray' : '';
                } else {
                    element.style.color = '';
                }
            });
        }
    }
};
</script>

<style scoped>
.wrapper {
    background-color: #fff;
    max-width: 1440px;
    margin-left: 100px;
}
.columns {
    display: flex;
    margin-top: 30px;
    margin-left: 13px;
    font-weight: bold;
}
.column {
    flex: 1;
}
.city-list {
    list-style-type: none;
    padding: 0;
}
.city-list li {
    cursor: pointer;
    margin-bottom: 5px;
}
</style>
