<template>
  <div>
    <div class="message_container">
      <div class="message_block">
        На вашу почту <span class="email">{{ email }}</span> было отправлено письмо для {{ messageText }}!
      </div>
    </div>
  </div>
</template>

<script setup>
import { useRoute } from 'vue-router';
const route = useRoute();
const email = route.params.email;
const messageText = route.name === 'ResetPass' ? 'сброса пароля' : 'подтверждения';
</script>

<style scoped>
.message_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.message_block {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 70px;
  color: #181818;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
  text-align: center;
}

.email {
  font-weight: bold;
  color: #007bff;
}
</style>
