<template>
  <div class="container">
    <div class="wrapper">
      <h4 class="mt-4 mb-2">Спикеры</h4>
      <div class="speaker-card-list">
        <Speaker v-for="(speaker, idx) in visibleSpeakers" :key="idx" :speaker="speaker"/>
      </div>
      <div class="button" v-if="showMoreButton">
        <button @click="loadMore" class="btn btn-primary">Показать всех спикеров</button>
      </div>
    </div>
  </div>
</template>

<script>
import Speaker from "@/components/Speaker.vue";

export default {
  components: {
    Speaker,
  },
  data() {
    return {
      speakers: [
        {
          id: 1,
          title: "Арман Сулейменов",
          description: "CEO Nfactorial school",
          insta: "www.instagram.com",
          image: "/speaker.png"
        },
        {
          id: 2,
          title: "Арман Сулейменов",
          description: "CEO Nfactorial school",
          insta: "www.instagram.com",
          image: "/speaker.png"
        },
        {
          id: 3,
          title: "Арман Сулейменов",
          description: "CEO Nfactorial school",
          insta: "www.instagram.com",
          image: "/speaker.png"
        },
        {
          id: 4,
          title: "Арман Сулейменов",
          description: "CEO Nfactorial school",
          insta: "www.instagram.com",
          image: "/speaker.png"
        },
        {
          id: 5,
          title: "Арман Сулейменов",
          description: "CEO Nfactorial school",
          insta: "www.instagram.com",
          image: "/speaker.png"
        },
        {
          id: 6,
          title: "Арман Сулейменов",
          description: "CEO Nfactorial school",
          insta: "www.instagram.com",
          image: "/speaker.png"
        },
        {
          id: 7,
          title: "Арман Сулейменов",
          description: "CEO Nfactorial school",
          insta: "www.instagram.com",
          image: "/speaker.png"
        },
        {
          id: 8,
          title: "Арман Сулейменов",
          description: "CEO Nfactorial school",
          insta: "www.instagram.com",
          image: "/speaker.png"
        },
        {
          id: 9,
          title: "Арман Сулейменов",
          description: "CEO Nfactorial school",
          insta: "www.instagram.com",
          image: "/speaker.png"
        },
        {
          id: 10,
          title: "Арман Сулейменов",
          description: "CEO Nfactorial school",
          insta: "www.instagram.com",
          image: "/speaker.png"
        },
        {
          id: 11,
          title: "Арман Сулейменов",
          description: "CEO Nfactorial school",
          insta: "www.instagram.com",
          image: "/speaker.png"
        }

      ],
      cardsToShow: 8
    };
  },
  computed: {
    visibleSpeakers() {
      return this.speakers.slice(0, this.cardsToShow);
    },
    showMoreButton() {
      return this.visibleSpeakers.length < this.speakers.length;
    }
  },
  methods: {
    loadMore() {
      this.cardsToShow += 8
    },
  },
};
</script>

<style scoped>
.wrapper {
  background-color: #fff;
  padding: 16px;
}

.speaker-card-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;
  gap: 3px;
}

.button {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}
</style>