<template>
  <div class="card mb-4"  style="width: 16rem;">
    <img :src="speaker.image" class="card-img-top" alt="Speaker">
    <div class="card-body">
      <h5 class="card-title">{{speaker.title}}</h5>
      <p class="card-text mb-2">{{speaker.description}}</p>
      <p class="card-text mb-1">{{speaker.insta}}</p>
    </div>
  </div>
</template>

<script>
export default {
  props:{
    speaker: Object
  }
}
</script>