<template>
  <li class="nav-item">
    <a class="nav-link" :class="{ 'active': active }" :href="href">
      <span class="link">
        <slot></slot>
      </span>
    </a>
  </li>
</template>

<script setup>
defineProps({
  active: Boolean,
  href: String
})
</script>

<style scoped>
.nav-item {
  margin-right: 30px;
}

.nav-link {
  text-decoration: none;
  color: #0c0303;
  cursor: pointer;
}

.link {
  display: block;
  font-weight: normal;
  padding: 12px 0;
  border-bottom: 3px solid transparent;
  transition: border-bottom 0.3s ease;
}

.active .link {
  color: #4D73C7;
  border-bottom-color: #4D73C7;
}
</style>