<template>
  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav my-custom-list  me-auto mb-2 mb-lg-0">
          <Tab
              v-for="(tab, index) in tabs"
              :key="index"
              :active="currentTab === tab"
              @click="$emit('update:current-tab', tab)">
            {{ tab }}
          </Tab>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script setup>
import Tab from "@/components/Tab.vue";

defineProps({
  currentTab: String,
  tabs: Array
})

defineEmits(['update:current-tab'])
</script>

<style scoped>
.navbar {
  background-color: #fff;
  height: 80px;
  max-width: 1440px;
  margin: auto;
}

</style>