<template>
  <button class="tag">
    <slot></slot>
  </button>
</template>

<style scoped>
.tag {
  padding: 1px 8px 1px 8px;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  background: #FAFAFA;
  font-size: 12px;
  line-height: 20px;
  color: #000000;
}
</style>