<template>
  <div class="cont">
    <div class="box">
      <div class="info">
        <h4>
          Мы — <span>сообщество любителей мероприятий</span>
        </h4>
      </div>
      <div class="video">
        <YoutubeVideo videoId="AfnxHKYxINQ"></YoutubeVideo>
      </div>
    </div>
  </div>
</template>

<script>
import YoutubeVideo from "@/components/YoutubeVideo.vue";

export default {
  components: {
    YoutubeVideo
  }
};
</script>

<style scoped>
.cont {
  background-color: #e1e6fd;
  height: 485px;
}

.box {
  display: flex;
  height: 485px;
  max-width: 1440px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.info {
  width: 50%;
}

.video {
  width: 50%;
}

span{
  color: #e17341;
}
</style>