<template>
  <RouterView/>


</template>

<script setup>
import 'bootstrap/dist/css/bootstrap.css'
import '@fortawesome/fontawesome-free/css/all.css';
import 'vue3-toastify/dist/index.css';
</script>


